/* regole generali */

*{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* header */


header{ 
    background-color:#ff6900;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 900;

}
.row{ 
    display: flex;
    color: white;
    align-items: center;
    height: 50px;
    margin: auto;
    justify-content: space-between;
    
}

.logo{ 
    width: 130px;
  
}

.emoji:hover{ 
    cursor: pointer;
}

/* main */

.contenitore{ 
    width: 80%;
    margin: 0 auto;
}
.row-col{ 
    display: flex;
    gap: 10px;
    margin-top:80px;
    
    
}

img{ 
    width: 100%;
}

/* cambio foto */

.cambio-foto{ 
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    
}

.product:hover .cambio-foto{ 
    display: block;
}
/* label */

.product{ 
    position: relative;
    width: calc(100% / 3);
}
.label-red{ 
    height: 20px;
    width: 35px;
    background-color: red;
    position: absolute;
    bottom:90px;
    color: white;
    
    
}
.label-green, .label-green2{ 
    background-color: green;
    position: absolute;
    bottom: 90px;
    left: 40px;
    height: 20px;
    color: white;
}

.label-green2{
    left:0;

}
/* tag hover cuore */

.hearts{ 
    height: 25px;
    width: 25px;
    position: absolute;
    top: 10px;
    right: 0;
    background-color: white;
    text-align: center;
    font-size: 20px;
}

.hearts:hover{ 
    color: red;
    cursor: pointer;
}
/* elementi rigurdanti il prezzo */
.price{ 
    color: red;
}

.first-price{ 
    text-decoration: line-through;
}

/* footer */
footer{ 
    background-color:#1a1a1a;
    margin-top: 40px;
    font-size: 12px;
    line-height: 20px;
}
.row-footer{ 
    display: flex;
    color: white;
    align-items: center;
    height: 80px;
    margin:0 auto;
    justify-content: space-between; 
    
}

.font-footer{ 
    font-size: 15px;
}
.fa-brands{ 
    margin: 3px;
}
a{ 
    text-decoration: none;
    color: white;
    margin-right: 3px;
}